
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px  rgba(0,0,0,0.5);
    
    width: 400px;
}
.container h1{
    text-align: center;
    margin: 35px;
}

.form{
    padding: 30px 40px;
}
.form-control{
    padding-bottom: 5px;
    margin-bottom: 10px;
    position: relative;
}
label{
display: block;
margin-bottom: 5px;
}
.form-control input{
    width: 100%;
    padding: 7px 10px;
    font-size: 20px;
}
.form-control .fa-check{
    position: absolute;
    text-align: right;
    color: rgb(48, 222, 48);
    top: 35px;
    bottom: 0px;

    right: 10px;
    visibility: hidden;
}
.form-control .fa-close{
    position: absolute;
    text-align: right;
    color: rgb(236, 24, 24);
    top: 35px;
    bottom: 0px;
    visibility: hidden;
    right: 10px;
    
}

.form-control input:focus{
    outline: none;
    border: 1px solid #1d1a1a;
}

.form-control small {
    display: block;
    color: #ec5a36;
    visibility: hidden;
}

.btn {
    width: 105%;
    padding: 10px 20px;
    background-color:#FF7E33;
    border: 2px solid #FF7E33;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    outline: none;
}

.form-control.success input {
    border: 1px solid #31ca15;
}

.form-control.error input {
     border: 1px solid #ec5a36;
}

.form-control.error small {
    visibility: visible;
}
